<script id="mod:toxic-swamp:lang:error" type="application/ld+json">
{
  "@context": {
    "displayModeInvalid": { "@id": "error:displayModeInvalid", "@container": "@language" }
  },
  "displayModeInvalid": {
    "en": "Display mode invalid. Expected one of: 'full', 'compact', 'minimal' or 'hidden'.",
    "id": "Tampilan mode tidak sah. Salah satu yang diharapkan: 'full', 'compact', 'minimal' atau 'hidden'.",
    "ru": "Способ отображения не валиден. Ожидается один из следующих: 'full', 'compact', 'minimal' or 'hidden'.",
    "el": "Μη αποδεκτή λειτουργία απεικόνισης. Οι σωστές επιλογές είναι: 'full', 'compact', 'minimal' ή 'hidden'.",
    "de": "Anzeigemodus nicht gültig. Erwartet: 'full', 'compact', 'minimal' oder 'hidden'.",
    "pl": "Nieprawidłowy tryb wyświetlania. Oczekiwany jeden: 'full', 'compact', 'minimal' lub 'hidden'."
  }
}
</script>
<script id="mod:toxic-swamp:lang:status" type="application/ld+json">
{
  "@context": {
    "waitingForNetwork": { "@id": "status:waitingForNetwork", "@container": "@language" },
    "waitingForServer": { "@id": "status:waitingForServer", "@container": "@language" },
    "newJob": { "@id": "status:newJob", "@container": "@language" },
    "solvedJob": { "@id": "status:solvedJob", "@container": "@language" },
    "poolAcceptedHash": { "@id": "status:poolAcceptedHash", "@container": "@language" },
    "error": { "@id": "status:error", "@container": "@language" }
  },
  "waitingForNetwork": {
    "en": "waiting for network",
    "id": "menenggu untuk jaringan",
    "ru": "ожидание сети",
    "el": "Αναμονή Δικτύου",
    "de": "Warte auf Netzwerk",
    "pl": "oczekiwanie na sieć"
  },
  "waitingForServer": {
    "en": "waiting for server",
    "id": "menenggu untuk server",
    "ru": "ожидание сервера",
    "el": "Αναμονή Εξυπηρετητή",
    "de": "Warte auf Server",
    "pl": "oczekiwanie na serwer"
  },
  "newJob": {
    "en": "new job",
    "id": "pekerjaan baru",
    "ru": "новая работа",
    "el": "Νέο job",
    "de": "Neuer Auftrag",
    "pl": "nowe zadanie"
  },
  "solvedJob": {
    "en": "solved job",
    "id": "pekerjaan diselesaikan",
    "ru": "решенная работа",
    "el": "To job επιλύθηκε",
    "de": "Auftrag erledigt",
    "pl": "zadanie rozwiązane"
  },
  "poolAcceptedHash": {
    "en": "Pool accepted hash!",
    "id": "Pool menerima hash!",
    "ru": "Пул принял хеш",
    "el": "To pool αποδέχτηκε το hash!",
    "de": "Pool hat Hash akzeptiert!",
    "pl": "Pool zaakceptował hash!"
  },
  "error": {
    "en": "error",
    "id": "error",
    "ru": "ошибка",
    "el": "Λάθος",
    "de": "Fehler",
    "pl": "błąd"
  }
}
</script>
<script id="mod:toxic-swamp:lang:help" type="application/ld+json">
{
  "@context": {
    "activated": { "@id": "help:activated", "@container": "@language" },
    "deactivated": { "@id": "help:deactivated", "@container": "@language" },
    "powered": { "@id": "help:powered", "@container": "@language" },
    "unplugged": { "@id": "help:unplugged", "@container": "@language" },
    "paused": { "@id": "help:paused", "@container": "@language" },
    "resumed": { "@id": "help:resumed", "@container": "@language" },
    "disconnected": { "@id": "help:disconnected", "@container": "@language" },
    "restored": { "@id": "help:restored", "@container": "@language" },
    "activate": { "@id": "help:activate", "@container": "@language" },
    "override": { "@id": "help:override", "@container": "@language" },
    "economy": { "@id": "help:economy", "@container": "@language" },
    "hashpower": { "@id": "help:hashpower", "@container": "@language" },
    "hashes": { "@id": "help:hashes", "@container": "@language" },
    "unit": { "@id": "help:unit", "@container": "@language" }
  },
  "activated": {
    "en": "Miner activated…",
    "id": "Penambang diaktifkan…",
    "ru": "Майнер активирован",
    "el": "Ο miner ενεργοποιήθηκε...",
    "de": "Miner aktiviert…",
    "pl": "Miner aktywny"
  },
  "deactivated": {
    "en": "Miner deactivated…",
    "id": "Penambang dinonaktifkan…",
    "ru": "Майнер деактивирован",
    "el": "Ο miner απενεργοποιήθηκε...",
    "de": "Miner deaktiviert…",
    "pl": "Miner nieaktywny"
  },
  "powered": {
    "en": "Device powered…",
    "id": "Perangkat daya terhubung…",
    "ru": "Девайс запитан…",
    "el": "Τροφοδοσία συσκευής ενεργή",
    "de": "Energiezufur angeschlossen…",
    "pl": "Moc podłączona"
  },
  "unplugged": {
    "en": "Power unplugged…",
    "id": "Daya telah dihapus…",
    "ru": "Питание отключено…",
    "el": "Εκτός τροφοδοσίας ρεύματος",
    "de": "Energiezufur entfernt…",
    "pl": "Moc odłączona"
  },
  "paused": {
    "en": "Mining paused…",
    "id": "Pertambangan dijeda…",
    "ru": "Майнинг приостановлен…",
    "el": "Το mining τέθηκε σε παύση",
    "de": "Mining pausiert…",
    "pl": "Obliczenia zatrzymane"
  },
  "resumed": {
    "en": "Mining resumed…",
    "id": "Pertambangan kembali…",
    "ru": "Майнинг возобновлен…",
    "el": "Το mining ξανάρχισε...",
    "de": "Mining fortgefahren…",
    "pl": "Obliczenia wznowione"
  },
  "disconnected": {
    "en": "Network disconnected…",
    "id": "Jaringan terputus…",
    "ru": "Сеть отключена…",
    "el": "Το δίκτυο αποσυνδέθηκε",
    "de": "Netzwerk getrennt…",
    "pl": "Sieć rozłączona"
  },
  "restored": {
    "en": "Network restored…",
    "id": "Memulihkan jaringan…",
    "ru": "Сеть восстановлена…",
    "el": "Το δίκτυο αποκαταστάθηκε",
    "de": "Netzwerk wiederhergestellt",
    "pl": "Sieć przywrócona"
  },
  "activate": {
    "en": "Click to activate…",
    "id": "Klik untuk mengaktifkan…",
    "ru": "Нажмите для активации…",
    "el": "Κλίκ για ενεργοποίηση",
    "de": "Klick zum aktivieren…",
    "pl": "Kliknij aby aktywować"
  },
  "override": {
    "en": "Click to override…",
    "id": "Klik untuk mengganti…",
    "ru": "Нажмите чтобы переписать…",
    "el": "Κλίκ για παράκαμψη",
    "de": "Klick zum überschreiben…",
    "pl": "Kliknij aby nadpisać"
  },
  "economy": {
    "en": "Saving battery…",
    "id": "Hemat baterai…",
    "ru": "Энергосбережение…",
    "el": "Εξοικονόμηση ενέργειας...",
    "de": "Spare Batterie…",
    "pl": "Oszczędzanie baterii"
  },
  "hashpower": {
    "en": "hash power…",
    "id": "hash daya…",
    "ru": "Мощность хеша…",
    "el": "Πόροι που δεσμέυτηκαν για mining...",
    "de": "Hashpower",
    "pl": "mocy obliczneniowej"
  },
  "hashes": {
    "en": "hashes",
    "id": "hash",
    "ru": "Хеши",
    "el": "hashes",
    "de": "Hashes",
    "pl": "hash"
  },
  "unit": {
    "en": "H/s",
    "id": "H/k",
    "ru": "Х/с",
    "el": "H/δ",
    "de": "H/s",
    "pl": "H/s"
  }
}
</script>
